<title>Profile</title>

<div class="profile-box">
    <% if @user.profile_picture.attached? %>
        <%= image_tag @user.profile_picture, class: "profile-picture" %>
    <% else %>
        <%= image_tag "ProfilePic.jpg", class: "profile-picture" %>
    <% end %>
    <h1 class="profile-heading">Profile</h1>
    <p class="profile-info">Name: <%= @user.username %></p>

    <%= link_to "Edit", edit_profile_path(@user), class: "edit-link" if current_user == @user %>
</div>

<h2 class="discussion-heading">General Discussions</h2>
<ul class="discussion-list">
    <% @user.discussions.where(category: 'discussions').each do |discussion| %>
    <li class="discussion-item">
        <div class="discussion-box">
            <strong class="discussion-title">Title:</strong>
            <%= link_to discussion.title, general_discussion_path(discussion), class: "discussion-link" %><br>
            <strong class="discussion-owner">Owner:</strong> <%= discussion.user.username %>
        </div>
    </li>
    <% end %>
</ul>

<h2 class="discussion-heading">Strategies</h2>
<ul class="discussion-list">
    <% @user.discussions.where(category: 'strategies').each do |discussion| %>
    <li class= "discussion-item">
        <div class="discussion-box">
            <strong class="discussion-title">Title:</strong>
            <%= link_to discussion.title, strategy_path(discussion), class: "discussion-link" %><br>
            <strong class="discussion-owner">Owner:</strong> <%= discussion.user.username %>
        </div>
    </li>
    <% end %>
</ul>

<h2 class="post-heading">General Discussion Posts</h2>
<ul class="post-list">
    <% @user.posts.joins(:discussion).where("discussions.category = 'discussions'").each do |post| %>
    <li class="post-item">
        <div class="post-box">
            <strong class="post-discussion-title">Title:</strong>
            <%= link_to post.discussion.title, general_discussion_path(post.discussion), class: "discussion-link" %><br>
            <strong class="post-content">Content:</strong> <%= simple_format(post.content) %><br>
            <strong class="post-owner">Owner:</strong> <%= post.user.username %>
        </div>
    </li>
    <% end %>
</ul>

<h2 class="post-heading">Strategy Discussion Posts</h2>
<ul class="post-list">
    <% @user.posts.joins(:discussion).where("discussions.category = 'strategies'").each do |post| %>
    <li class="post-item">
        <div class="post-box">
            <strong class="post-discussion-title">Title:</strong>
            <%= link_to post.discussion.title, strategy_path(post.discussion), class: "discussion-link" %><br>
            <strong class="post-content">Content:</strong> <%= simple_format(post.content) %><br>
            <strong class="post-owner">Owner:</strong> <%= post.user.username %>
        </div>
    </li>
    <% end %>
</ul>