<div class="discussion-details">
  <h2><%= @discussion.title %></h2><hr>
  <p><%= @discussion.description %></p>
  <p>Created by: <%= @discussion.user.username %></p>
  <p><%= time_ago_in_words(@discussion.created_at) %> Ago</p>
  <p>Last updated at: <%= time_ago_in_words(@discussion.updated_at) %></p>
</div>

<% @discussion.posts.each do |post| %>
  <div>
    <p><strong><%= post.user.username %></strong></p><hr>
    <p><%= post.content %></p>
    <p><%= time_ago_in_words(post.created_at) %> Ago</p>
    <p>Last updated: <%= time_ago_in_words(post.updated_at) %></p>
  </div>
<% end %>

<%= form_with(model: [@discussion, @discussion.posts.build], url: discussion_posts_path(@discussion), local: true) do |form| %>
  <%= form.text_area :content, placeholder: "Enter your thread content" %>
  <%= form.submit "Post Thread" %>
<% end %>