<title>Discussion Details</title>

<div class="discussion-box">
  <h2 id="discussion-<%= @discussion.id %>" class="discussion-title"><%= @discussion.title %></h2>
  <div class="discussion-metadata">
    <p class="discussion-creator">Created by: <%= link_to @discussion.user.username, profile_path(@discussion.user) %></p>
    <p>Created <%= time_ago_in_words(@discussion.created_at) %> Ago</p>
    <p>Last updated: <%= time_ago_in_words(@discussion.updated_at) %></p>
    <% if current_user == @discussion.user %>
    <div class="discussion-edit">
      <p><%= link_to "Edit Discussion", edit_discussion_path(@discussion) %></p>
    </div>
    <% end %>
  </div>
  <hr>
  <p class="discussion-description"><%= @discussion.description %></p>

  <% if @discussion.attachments.attached? %>
    <div class="discussion-attachments">
      <h3>Attachments:</h3>
      <% @discussion.attachments.each do |attachment| %>
        <% if attachment.image? %>
          <div class="image-container">
            <%= link_to rails_blob_path(attachment) do %>
              <%= image_tag attachment, class: "thumbnail-image" %>
            <% end %>
          </div>
        <% else %>
          <p><%= link_to attachment.filename, rails_blob_path(attachment), class: "attachment-link" %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="discussion-posts">
  <% @discussion.posts.order(:created_at).each_with_index do |post, index| %>
    <div id="post-<%= post.id %>" class="post-box">
      <a href="#post-<%= post.id %>" class="post-number">#<%= index + 1 %></a>
      <p class="post-username">Posted by: <%= link_to post.user.username, profile_path(post.user) %></p>
      <p class="post-content"><%= post.content %></p>
      <p class="post-created-at">Created <%= time_ago_in_words(post.created_at) %> Ago</p>
      <p class="post-updated-at">Last updated: <%= time_ago_in_words(post.updated_at) %></p>
    </div>
  <% end %>
</div>

<% if current_user %>
  <%= form_with(model: [@discussion, @discussion.posts.build], url: discussion_posts_path(@discussion), local: true, class: "new-post-form") do |form| %>
    <%= form.text_area :content, placeholder: "Enter your thread content", class: "post-content-input" %>
    <%= form.submit "Post Thread", class: "post-submit-button" %>
  <% end %>
<% else %>
  <p class="login-message">Please <%= link_to "sign up", new_user_registration_path, class: "login-link" %>
    or <%= link_to "log in", new_user_session_path, class: "login-link" %> to post a thread.</p>
<% end %>

<script>
  // Smooth scroll effect when clicking post number link
  const postNumberLinks = document.querySelectorAll('.post-number');
  postNumberLinks.forEach(link => {
    link.addEventListener('click', (event) => {
      event.preventDefault();
      const targetId = event.target.getAttribute('href').replace('#', '');
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        targetElement.scrollIntoView({ behavior: 'smooth', block: 'start' });
      }
    });
  });
</script>