<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo.png') %>

  </head>

  <body>
    <div class="top-bar">
      <div class="top-left">
        <%= link_to image_tag('logo.png', height: 47), root_path %>
      </div>

      <div class="top-center">
        <h2>Welcome to GamingCommunityHub</h2>
      </div>

      <div class="top-right">
        <% if user_signed_in? %>
          <div class="user-info">
            <div class="dropdown">
              <button class="circle-button">
                <%= current_user.username %>
              </button>
              <div class="dropdown-content" style="right: 1px;">
                <%= link_to 'Go to Profile', profile_path(current_user) %>
                <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete} %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="user-actions">
            <%= link_to 'Login', new_user_session_path %> or
            <%= link_to 'Sign Up', new_user_registration_path %>
          </div>
        <% end %>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var dropdown = document.querySelector(".dropdown");
        var dropdownContent = dropdown.querySelector(".dropdown-content");

        dropdown.addEventListener("click", function() {
          dropdownContent.classList.toggle("show");
        });

        document.addEventListener("click", function(event) {
          if (!dropdown.contains(event.target)) {
            dropdownContent.classList.remove("show");
          }
        });
      });
    </script>
  </body>
</html>
