<!DOCTYPE html>
<html>
  <head>
    <title>GamingCommunityHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="user-info">
        <h1>Welcome, <%= current_user.username %></h1>
        <li><%= link_to 'Profile', profile_path(current_user) %></li>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="user-actions">
        <%= link_to 'Login', new_user_session_path %> or
        <%= link_to 'Sign Up', new_user_registration_path %>
      </div>
    <% end %>

    <br>
    <%= link_to 'Home', root_path %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
